/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: dotted 3px #ff9d00;
    background-color: #d8c4dd;

  }

#content {
    background-color: lightseagreen;
    border: dotted 5px pink;
   padding: 10px;
  }

p { 
    color: rgb(70, 1, 79);
    text-indent: 20px;
    margin-left: 10px;
    font-family: "Courier";
  }

h1, h2 { 
    color: navajowhite;
    font-family: "Courier";
  }

body { 
    background-color: navajowhite;
  }

